<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Upload Excel File</h3>
      <div class="form-group">
        <input type="file" id="fileInput" name="image" accept=".xlsx" (change)="selectImage($event)" />
        <small *ngIf="formDirty && (!validFileType)" id="emailHelp" class="form-text text-muted">This is required field
          and file type must be excel</small>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!validFileType" (click)="onSubmit()" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
  <div [hidden]="!showChart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <h4 *ngIf="errorMessage">{{errorMessage}}</h4>
</div>